* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: green;
  border: none;
  color: #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  transform: scale(0.95);
}

#btn2 {
  background-color: red;
}


.container {
  display: flex;
  justify-content: center;
}


.promotion__timer .title {
  text-align: right
}

.promotion__timer .timer {
  	margin-top: 60px;
  display: flex;
  align-items: center
}

.promotion__timer .timer__block {
  width: 125px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}

.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700
}

.status_block {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.status_block span {
  background-color: #d4a12c;
  color: brown;
}

.control-block{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.control-block button {
  margin: 10px;
}

.intro {
  display: flex;
  justify-content: flex-end;
}

.upgrade_first {
  /* display: flex; */
  border: 1px solid red
}

.upgrades_list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.buy-btn{
  padding: 0 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(140 143 159);
  color: antiquewhite;
}

.modal {
  margin: 0 auto;
  display: none;
  width: 400px;
  line-height: 20px;
  background-color: rgb(0, 4, 0);
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  color: red;
}

.information-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-block p:first-child{
  margin-bottom: 10px;
}

.actvive {
  display: flex;
}

.hide {
  display: none;
}

@media screen and (max-width:500px) {
  main {
    width: 90%;
  }
  .upgrades_list {
    flex-direction: column;
    font-size: 10px;
  }

  .buy-btn{
    margin-top: 10px;
    padding: 5px;
  }
}